
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h4>Getting the most out of this headshot</h4>
<img src="~/images/Headshot (Niteka Ramsey).png" class="rounded-circle" width="100" />